extends layout

block content
    h2.page-header Register
    p Please register using the form below.
    if errors
     each error, i in errors
      div.alert.alert-danger #{error.msg}
    form(method='post', action='/users/register',
    enctype='multipart/form-data')
        .form-group
         label Full Name
         input.form-control(name='name', type='text',
         placeholder='Enter Full Name')
        .form-group
         label Phone Number
         input.form-control(name='phone', type='tel',
         placeholder='Enter Phone number')
        .form-group
         label Username
         input.form-control(name='username', type='text',
         placeholder='Enter Usename')
        .form-group
         label Password
         input.form-control(name='password', type='password',
         placeholder='Enter Password')
        .form-group
         label Confirm Password
         input.form-control(name='password2', type='password',
         placeholder='Confirm Password')
        .form-group
         label Gender
         br
         input(type="radio", name="gender", value="male", checked=gender=="male")
         b  Male &nbsp;
         input(type="radio", name="gender", value="female", checked=gender=="female")
         b  Female &nbsp;
         input(type="radio", name="gender", value="other", checked=gender=="other")
         b  I choose not to self identify
        .form-group
         label Profile Image
         input.form-control(name='profileimage', type='file')
         br
        .form-group
         label Choose days for training [ 16:00 - 20:00 ]
        input(type="checkbox", name="daysOfWeek", value="0")
        |  Sunday
        br
        input(type="checkbox", name="daysOfWeek", value="1")
        |  Monday
        br
        input(type="checkbox", name="daysOfWeek", value="2")
        |  Tuesday
        br
        input(type="checkbox", name="daysOfWeek", value="3")
        |  Wednesday
        br
        input(type="checkbox", name="daysOfWeek", value="4")
        |  Thursday
        br
        input(type="checkbox", name="daysOfWeek", value="5")
        |  Friday
        br
        input(type="checkbox", name="daysOfWeek", value="6")
        |  Saturday
        br

        p.confirm
        input.btn.btn-primary(type='submit', name='submit', value='Register')
